CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Doxyfile
docs/html
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl
*.ninja_deps
*.ninja_log
*.ninja
**/*.a
**/*.so
**/*.lib
**/*.dll
**/*.exp
**/*.ilk
**/*.pdb
**/*.o
**/*.exe

*-config-version.cmake
*-config.cmake
*-targets.cmake
